.tooltipster-salesup {
	border-radius: 10px; 
	border-bottom: 3px solid #eb4889;
	background: #eb4889;
	color: #fff;
}
.tooltipster-salesup .tooltipster-content {
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 26px;
	padding: 3px 40px;
}